<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Equity Edge Consulting</a>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/coins">Coins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user"><%= user.username %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/consultant">Talk with a consultant</a>

        <li class="nav-item">
          <a class="nav-link" href="/search">Search Saved Coins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meeting">Join Meeting</a>
        </li>
        

        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
