<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container mt-5 text-light text-center">
      <h2>book a meeting with a Consultant at Equity Edge Consulting</h2>
      <p></p>

      <div class="calendly-inline-widget" data-url="https://calendly.com/azaanhassan71" style="min-width:320px;height:700px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </div>
  </body>
</html>
