<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar') %> <%- include('./partials/flash') %>
    <div class="container text-center mt-5">
      <h1>Welcome to CoinCrest</h1>
      <a href="/login" class="btn btn-primary me-3">Login</a>
      <a href="/register" class="btn btn-secondary">Register</a>
    </div>
  </body>
</html>
