<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar') %> <%- include('./partials/flash') %>
    <div class="container mt-5">
      <h2>Register</h2>
      <form action="/register" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="confirm-password" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            name="confirmPassword"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </body>
</html>
